.card-container {
   display: flex;
   justify-content: space-around;
}



.card img {
   width: 300px;
   height: 300px;
   object-fit: cover;
}

/*.orange {
   background-color: orange;
}

.blue {
   background-color: blue;
}*/

